# Annoying stuff
*.pyc
*.swp
.ipynb_checkpoints

# directory for fit data h5 files
surfinBH_data

# pypi stuff
build
dist
*.egg-info

# For testing you can symlink from examples to the base directory, ignoring
# those links.
/example_3dq8.ipynb
/example_7dq2.ipynb
