name: build
on:
  push:
  schedule:
    - cron: "0 12 * * 1"


jobs:
  build:

    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: ['3.9']

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install gsl
          pip install pytest nbconvert
          pip install NRSur7dq2

      - name: Install pipenv
        shell: bash -l {0}
        run: |
          pip install .

      - name: Run test suite
        shell: bash -l {0}
        run: |
          py.test
